<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="main">
        <div class="generated-code">
            <label for="generatedCode">Código Gerado:</label>
            <input id="generatedCode1" type="text" maxlength="1" readonly>
            <input id="generatedCode2" type="text" maxlength="1" readonly>
            <input id="generatedCode3" type="text" maxlength="1" readonly>
            <input id="generatedCode4" type="text" maxlength="1" readonly>
            <input id="generatedCode5" type="text" maxlength="1" readonly>
            <input id="generatedCode6" type="text" maxlength="1" readonly>
        </div>
        <div class="create-section">
            <button class="CreateSecretKey" type="button">Gerar Código</button>
            <div id="createError"></div>
        </div>
        <div class="validate-section">
            <label for="validationCode">Código de Validação:</label>
            <input id="validationCode2" type="text" maxlength="1">
            <input id="validationCode1" type="text" maxlength="1">
            <input id="validationCode3" type="text" maxlength="1">
            <input id="validationCode4" type="text" maxlength="1">
            <input id="validationCode5" type="text" maxlength="1">
            <input id="validationCode6" type="text" maxlength="1">
            <button id="validateButton" class="CreateSecretKey" type="button">Validar Código</button>
            <div id="validationMessage"></div>
        </div>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>